body{
    background-color: rgb(74, 74, 74);
    color: white;
}
#signup-form{
   width: 100%;
}

.nav-link {
    position: relative;
    right: 10px;
    padding: 0 8px;
    }

.row{
    padding: 50px;
}
a{
    text-decoration: none;
}

.beachy{
    color: aliceblue;
}
#myVideo{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

h1{
    text-align: center;
}


ul{
    list-style-type: none;
}
.form-control{
    display: flex;
    justify-content: center;
    width: 50%;
}
.destination-list{
    display: inline-block;
    padding-left: 40px;
    padding-right: 90px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
} 
#container-signin{
    position: absolute;
    z-index: 2;
    display:flex;
    top: 20%;
    left: 40%
} 

#boardingPass{
    width: 30%;
    height: 30%;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#container-flights{
    position: absolute;
    z-index: 2;
    display:flex;
    top: 20%;
    left: 40%
} 

#beachy-link{
    position: absolute;
    left: -1%;
    top: 57px
}
#tasty-link{
    position: absolute;
    left: 32%;
    top: 57px;
}
#cozy-link{
    position: absolute;
    left: 65%;
    top: 57px;
}
#romantic-link{
    position: absolute;
    left: -1%;
    top: 400px;
}
#adventerous-link{
    position: absolute;
    left: 51%;
    top: 400px;
}

.index-heading-top{
    position: absolute;
    font-size: 50px;
    color: black;
    left: 40%;
    top: 70px;
}

.index-heading-down{
    position: absolute;
    font-size: 50px;
    color: black;
    left: 40%;
    top: 50px;
}

span{
    display: inline-block;
}
/* 
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

/* header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
} */