body{
    background-color: black;
    color: white;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
}
#signup-form{
    width: 100%;
}

.nav-link {
    position: relative;
    right: 10px;
    padding: 0 8px;
    }

.row{
    padding: 50px;
}
a{
    text-decoration: none;
}

.navbar{
    z-index: 2;
}
.beachy{
    color: aliceblue;
}
#myVideo, #loginVideo, #mainVideo{
    position: absolute;
    top: 58%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.container-fieldset{
    margin-left: 8%;
    margin-top: 5%;
    z-index: 1;
    background-color: white;
    color: black;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 80%;
}

#main-page{
    z-index: 2;
}
h1{
    padding: 10px 0;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}

ul{
    list-style-type: none;
}
.card{
    margin-bottom: 30px;
}

/* #flight-show-card{
    max-width: 40%;
    max-height: 40%;
} */
/* 
#mountain-logo{
    /* position: absolute;
    left: 82px; */
/* } */
.back{
    position: absolute;
    left: 20%;
    top: -10%
    /* right: 50px;
    bottom: 20px */
}
.form-control{
    display: flex;
    justify-content: center;
    width: 50%;
}
.destination-list{
    display: inline-block;
    padding-left: 40px;
    padding-right: 90px;
}
.overlay{
    position: absolute;
    top: 7%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
} 
#container-fluid{
    margin-left: 10%;
}
#container-signin{
    position: absolute;
    z-index: 2;
    display:flex;
    top: 40%;
    left: 40%
} 
#container-login{
    position: absolute;
    z-index: 2;
    display:flex;
    top: 32%;
    left: 40%
}

#container-flights{
    position: absolute;
    z-index: 2;
    display:flex;
    top: 20%;
    left: 40%
} 
.container-trips{
    display: inline-block;
}
.arrival-trips{
   margin-left: 20%;
}
#beachy-link{
    position: absolute;
    left: -1%;
    top: 57px
}
#tasty-link{
    position: absolute;
    left: 32%;
    top: 57px;
}
#cozy-link{
    position: absolute;
    left: 65%;
    top: 57px;
}
#romantic-link{
    position: absolute;
    left: 1%;
    top: 410px;
}
#romantic-img{
    position: absolute;
    left: -97%;
    top: 410px;
}

#adventerous-link{
    position: absolute;
    left: 49%;
    top: 410px;
}
#adv-img{
    position: absolute;
    left: 97%;
    top: 410px; 
}

#index-blank-img{
    position: absolute;
    left: 37%;
    top: 400px
}
#feeling{
    color: black;
    font-size: 40px;
    position: absolute;
    left: 38%;
    top: 408px
}
#beachy-div, #tasty-div, #cozy-div, #romantic-div, #adv-div{
    position: absolute;
    left: 55%;
    top: 408px;
    color: black;
    display: none
}

#beachy-link:hover + #beachy-div{
    display: block;
    color: black;
}

#tasty-link:hover + #tasty-div{
    display: block;
    color: black;
}

#cozy-link:hover + #cozy-div{
    display: block;
    color: black;
}
#romantic-link:hover + #romantic-div{
    display: block;
    color: black;
}
#adventerous-link:hover + #adv-div{
    display: block;
    color: black;
}


.index-heading-top{
    display:none;
} 

.index-heading-top:hover{
    display: block;
    /* position: absolute;
    font-size: 50px;
    color: rgb(21, 199, 199);
    left: 40%;
    top: 70px; */
}
.index-heading-down{
    position: absolute;
    font-size: 50px;
    color: black;
    left: 40%;
    top: 50px;
} 

div{
    display: inline-block;
}

/* 
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

/* header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
} */