<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventerous Vacations</title>
</head>
<body>
    {% layout 'layout.liquid' %}
{% block content %}
<div class="container-fluid">
<h1>Adventerous Vacation Ideas</h1>
<img src="" id="adv-img">
<ul>
    <li>
       Galapagos Islands
    </li>
    <li>
       Africa
    </li>
    <li>
       Switzerland
    </li>
    <li>
        Arizona & Utah
    </li>
        Iceland
    </li>
    </li>
        Australia
    </li>
</ul>
<form action="/flights/adventerous" method="POST">
<input type="text" class="form-control" placeholder="Search a city" name="citySearch">
</form>
</div>
{% endblock %}
</body>
</html>