<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beachy Vacations</title>
</head>
<body style="background-color: rgb(125, 215, 242); color: black">
    {% layout 'layout.liquid' %}
{% block content %}
<div class="container-fluid">
<h1>Beachy Vacation Ideas</h1>
<div class="container-fluid justify-content-center"  style ="margin-left: 15%">
    <img src="https://imageio.forbes.com/specials-images/imageserve/930322352/Bora-Bora-Island--French-Polynesia-/960x0.jpg?format=jpg&width=960" width="230" height="200" class="rounded float-left" alt="Bora Bora">
    <img src="https://media.cntraveler.com/photos/5e56daf217b1dc0008f2fba6/4:3/w_2664,h_1998,c_limit/03-waileabeach-hawaii-2020-GettyImages-144924389.jpg" class="rounded float-right" width="230" height="200" alt="Hawaii">
<img src="https://www.jetbluevacations.com/images_w/jetblue/suppliers/image_url_26117.jpg" class="rounded float-right" width="230" height="200" alt="Turks and Caicos">
<img src="https://www.senatorrivieracancunsparesort.com/wp-content/uploads/2019/12/akumal.jpg" width="230" height="200" class="rounded float-left" alt="Mexico">
</div>

<form action="/flights/vacation" method="POST" style="margin-left: 33%" >
    <label class="form-label mt-2"> Enter a city code:</label>
    <input type="text" class="form-control" placeholder="LAX" name="city">
    <label class="form-label mt-2"> Enter a destination code:</label>
    <input type="text" class="form-control" placeholder="PPT" 
    name="destination">
    <label class="form-label mt-2"> Enter a departure date:</label>
    <input type="text" class="form-control" placeholder="2022-11-01" 
    name="departure">
    <label class="form-label mt-2"> Enter a return date:</label>
    <input type="text" class="form-control" placeholder="2022-11-15" 
    name="return">
    <label class="form-label mt-2"> Number of adults:</label>
    <input type="text" class="form-control" placeholder="2" 
    name="adults">
    <label class="form-label mt-2"> Currency:</label>
    <input type="text" class="form-control" placeholder="USD" 
    name="currency">
    <label class="form-label mt-2"> Nonstop:</label>
    <input type="checkbox" name="nonstop">
    <!-- <label class="form-label"> Roundtrip:</label>
    <input type="checkbox" 
    name="roundtrip"> -->
    <br/>
    <input 
        type="submit" 
        value="Search" 
        class="btn btn-primary mt-2">
</form>
<form action="/flights"  style ="margin-left: 33%">
    <input 
        type="submit" 
        value="Back" 
        class="btn btn-primary mt-2">
</form>
</div>
{% endblock %}
</body>
</html>