<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beachy Vacations</title>
</head>
<body>
    {% layout 'layout.liquid' %}
    {% block content %}
    <div class="container-fluid">
        <h1>Beachy Vacation Flights</h1>
        <h2>Hi</h2>
        <!-- <img src="" id="beachy-img"> -->
       
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">
                </h6>
                <p style="color: black">
                    City Departure: {{ myData.data }}
                </p>
                <script>console.log(myData.data)</script>
            </div>
        </div>
       
    </div>
    {% endblock %}
</body>
</html>
