<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cozy Vacations</title>
</head>
<body>
    {% layout 'layout.liquid' %}
{% block content %}
<div class="container-fluid">
<h1>Cozy Vacation Ideas</h1>
<img src="" id="cozy-img">
<ul>
    <li>
        Banff
    </li>
    <li>
        Utah
    </li>
    <li>
        Finland
    </li>
    <li>
        Montana
    </li>
        Norway
    </li>
</ul>
<form action="/flights/cozy" method="POST">
<input type="text" class="form-control" placeholder="Search a city" name="citySearch">
</form>
</div>
{% endblock %}
</body>
</html>