<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Index</title>
</head>
<body>
    {% layout 'layout.liquid' %}

    {% block content %}
    <div class="row">
        <div class="col-md-4" id="beachy-link" >
            <h1 class="index-heading-top">Beachy</h1>
      <a href="/flights/beachy" style= "color: white" id="beachy" name="beachy"><img src="https://blog.goway.com/globetrotting/wp-content/uploads/2019/01/Romantic-cozy-hammock-in-the-shadow-of-coconut-palm-tree-at-tropical-paradise-ocean-beach-Seychelles-_648072241.jpg" width="500" height="375"></a>
        </div>
        <div class="col-md-4" id="tasty-link">
            <!-- <h1 class="index-heading-top">Tasty -->
            <a href="/flights/tasty" style= "color: white" id="tasty" name="tasty"><img src="https://media-cdn.tripadvisor.com/media/photo-s/1b/cb/2b/3e/vista.jpg" width="500" height="375"></a>
        </div>
        <div class="col-md-4" id="cozy-link">
            <!-- <h1 class="index-heading-top">Cozy -->
            <a href="/flights/cozy" style= "color: white" id="cozy" name="cozy"><img src="https://images.unsplash.com/photo-1551927411-95e412943b58?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y296eSUyMGNhYmlufGVufDB8fDB8fA%3D%3D&w=1000&q=80" width="500" height="375"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="romantic-link">
            <!-- <h1 class="index-heading-down">Romantic -->
            <a href="/flights/romantic" style= "color: white" id="romantic"><img src="https://www.parisperfect.com/blog/wp-content/uploads/2021/02/paris-perfect-romantic-inspiration.jpg" width="100%" height="450"></a>
        </div>
        <img src="https://www.parisperfect.com/blog/wp-content/uploads/2021/02/paris-perfect-romantic-inspiration.jpg" width="100%" height="450" id="romantic-img">
        <div class="col-md-6" id="adventerous-link">
            <!-- <h1 class="index-heading-down">Adventerous -->
            <a href="/flights/adventerous" style= "color: white" id="adventerous"><img src="https://www.journeyera.com/wp-content/uploads/2020/05/interlaken-hiking-guide-hikes-near-interlaken-04228.jpg" width="100%" height="450"></a>
        </div>
        <img src="https://www.journeyera.com/wp-content/uploads/2020/05/interlaken-hiking-guide-hikes-near-interlaken-04228.jpg" width="100%" height="450" id="adv-img">
    </div>
    <div class="contatiner-fluid justify-content-center" id="index-form">
      <img src="https://coolbackgrounds.io/images/backgrounds/white/pure-white-background-85a2a7fd.jpg"class="rounded" width="400px" height="80px" id="index-blank-img">
      <span id="feeling">I'm feeling ________ .</span>
      <div id="beachy-div">beachy</div><div id="tasty-div">tasty</div><div id="cozy-div">cozycozy</div><div id="romantic-div">romantic</div><div id="adv-div">adventerous</div>
    </div>
   
{% endblock %}
</body>
</html>