<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romantic Vacations</title>
</head>
<body style="background-color: rgb(171, 115, 141)">
    {% layout 'layout.liquid' %}
{% block content %}
<div class="container-fluid">
<h1>Romantic Vacation Ideas</h1>
<div class="container-fluid justify-content-center" style="margin-left: 15%">
    <img src="https://www.remax.eu/uploads/agent-1/Greece%20(Optimized)-5e580fa45d9f1.jpg" width="230" height="200" class="rounded float-left" alt="Greece">
    <img src="https://www.mustgo.com/wp-content/uploads/2018/04/par_320a.jpg" class="rounded float-right" width="230" height="200" alt="Paris">
<img src="https://www.cityofnapa.org/ImageRepository/Document?documentID=9628" class="rounded float-right" width="230" height="200" alt="California">
<img src="https://d1bv4heaa2n05k.cloudfront.net/user-images/1535025032242/shutterstock-1142567063_main_1535025093424.jpeg" width="230" height="200" class="rounded float-left" alt="Italy">
</div>

<form action="/flights/vacation" method="POST" style="margin-left: 33%">
    <label class="form-label mt-2"> Enter a city code:</label>
    <input type="text" class="form-control" placeholder="LAX" name="city">
    <label class="form-label mt-2"> Enter a destination code:</label>
    <input type="text" class="form-control" placeholder="ATH" 
    name="destination">
    <label class="form-label mt-2"> Enter a departure date:</label>
    <input type="text" class="form-control" placeholder="2022-11-01" 
    name="departure">
    <label class="form-label mt-2"> Enter a return date:</label>
    <input type="text" class="form-control" placeholder="2022-11-15" 
    name="return">
    <label class="form-label mt-2"> Number of adults:</label>
    <input type="text" class="form-control" placeholder="2" 
    name="adults">
    <label class="form-label mt-2"> Currency:</label>
    <input type="text" class="form-control" placeholder="USD" 
    name="currency">
    <label class="form-label mt-2"> Nonstop:</label>
    <input type="checkbox" name="nonstop">
    <!-- <label class="form-label"> Roundtrip:</label>
    <input type="checkbox" 
    name="roundtrip"> -->
    <br/>
    <input 
        type="submit" 
        value="Search" 
        class="btn btn-danger mt-2">
</form>
<form action="/flights" style="margin-left: 33%">
    <input 
        type="submit" 
        value="Back" 
        class="btn btn-danger mt-2">
</form>
</div>
{% endblock %}
</body>
</html>