<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasty Vacations</title>
</head>
<body>
    {% layout 'layout.liquid' %}
{% block content %}
<div class="container-fluid">
<h1>Tasty Vacation Ideas</h1>
<img src="" id="tasty-img">
<ul>
    <li>
        Italy
    </li>
    <li>
        Thailand
    </li>
    <li>
        Peru
    </li>
    <li>
        Japan
    </li>
        Hong Kong
    </li>
</ul>
<form action="/flights/vacation" method="POST">
    <label class="form-label"> Enter a city code:</label>
    <input type="text" class="form-control" placeholder="LAX" name="city">
    <label class="form-label"> Enter a destination code:</label>
    <input type="text" class="form-control" placeholder="JFK" 
    name="destination">
    <label class="form-label"> Enter a departure date:</label>
    <input type="text" class="form-control" placeholder="2022-11-01" 
    name="departure">
    <label class="form-label"> Number of adults:</label>
    <input type="text" class="form-control" placeholder="2" 
    name="adults">
    <!-- <label class="form-label"> Roundtrip:</label>
    <input type="checkbox" 
    name="roundtrip"> -->
    <br/>
    <input 
        type="submit" 
        value="Search" 
        class="btn btn-light mt-2">
</form>
</div>
{% endblock %}
</body>
</html>